 body {
     background: silver;
 }

 #header {
     padding: 20px;
     background: gold;
 }

 #conten {
     background: peachpuff;
     padding: 20px;
 }

 #footer {
     background: green;
     padding: 20px;

 }
